{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div class="main-container">
    <div class="auth-container">
        <h2 class="h2-signup">Reset Your Password</h2>

        <form method="POST" action="{{ url_for('reset_password', token=token) }}">
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter a new password" required>
            </div>

            <button type="submit" class="btn">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}
