{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<div class="thank-you-page">
    <div class="student">
        <h2>Thank You for Your Feedback!</h2>
        <p>Your feedback has been recorded successfully. We appreciate your time and input.</p>
        <div class="thank-you-actions">
            <a href="{{ url_for('home') }}" class="go-home-btn">Go to Home</a>
            
        </div>
    </div>
</div>
{% endblock %}
